<!DOCTYPE html>
<html>
    <head>
        <title>YoujiTube</title>
    </head>
    <body>
        <header>
            <h1><a href="https://youtu.be/dPbBEyMnMzE">Gangster drop the beat brrrrtt</a></h1>
        </header>
            <audio
                controls
                src="blog/brrt.mp3">
                <p>If you are reading this, it is because your browser does not support the audio element.</p>
            </audio>
        <article>
            <time>Published: 09.06.2022, 17:30</time>
            <p>The music is running in the background.</p>
            <p>(Song: Gangster Drop)</p>
            <h2><a href="">Interval 1</a></h2>
            <p>Simulan na natin gawin ang pinaka gangster na rap</p>
            <h2><a href="">1st stanza</a></h2>
            <p>Ang kanta na ito ay para sa mga gangster na katulad ko</p>
            <p>brr, brr, gangsta, gangsta, let's go</p>
            <p>Mahilig ako sa malalaki</p>
            <p>Mas malaki sa aking hinlalaki</p>
            <p>Yung medyo mataba</p>
            <p>Tapos maitim tapos ipapasok ko sa ilalim</p>
            <p>Ekis maliit, ekis ang mataba</p>
            <p>Paborito ko yung medyo mahaba</p>
        </article>

        <article>
            <h2><a href="">Interval 2</a></h2>
            <p>Wait lang bro anong topic</p>
            <p>Bakit ano problema, GANGSTER! BARIL AT VIOLENCE ang topic</p>
            <p>Baril at violence, pwede palitan mo yung lyrics</p>
            <p>Sige sige, madami akong dalang bala</p>
            <p>DROP THE BEAT</p>
            <p>Parang iba kasi yung dating pero palitan mo lang yung lyrics</p>
            <h2><a href="">2nd stanza</a></h2>
            <p>Yeahhhh Gangster life brrr</p>
            <p>Break it down now, Break it</p>
            <p>Break it down now, Break it</p>
            <p>Hindi sapat saakin ang isa</p>
            <p>Dapat talaga dalawa</p>
            <p>Mas gusto ko maramihan</p>
            <p>Tapos sa muhka  ako putukan</p>
            <p>Ginagawa ko na ito ng ilang taon</p>
            <p>Titirahin mo ako dapat baon na baon </p>

        <article>
            <h2><a href="">Interval 3</a></h2>
            <p>Bro ulitin natin yung gangster na rap kasi parang hindi masyadong gangster yung last time</p>
            <h2><a href="">3rd stanza</a></h2>
            <p>Drop the beat</p>
            <p>Brrrrrr</p>
            <p>Gangsta</p>
            <p>Gansta for life</p>
            <p>Born a gansta</p>
            <p>brrrrrr</p>
            <p>lets go</p>
            <p>Matapang akong gangster sa buong mundo</p>
            <p>Paborito kong kainin ang mga ulo</p>
            <p>Mahaba ang katawan tapos malusog</p>
            <p>Kakainin ko lahat hangang itlog</p>

        <article>
            <h2><a href="">Interval 4</a></h2>
            <p>Sadali lang, hanggang itlog?</p>
            <p>Mga gangster kasi sa lugar namin kasama mga manok at itlog nila sa mga rambulan</p>
            <p>Kasama ang manok sa lugar nyo?</p>
            <p>San ba yung lugar nyo sa sabungan?</p>
            <p>Ulitin mo nga yung lyrics, yung parang medyo gangster talaga</p>
            <p>Get ready</p>
            <h2><a href="">4th stanza</a></h2>
            <p>Drop the beat</p>
            <p>Yeah</p>
            <p>Gangsta</p>
            <p>Born a gangsta</p>
            <p>Brrr, Brrr</p>
            <p>Die as a gangsta, brrr</p>
            <p>Putok, putok</p>
            <p>Putukan mo ako</p>
            <p>Kaliwa kanan putukan nyo ako</p>
            <p>May isa sa harap</p>
            <p>May isa sa likod</p>
            <p>Kapag malapit na kayo ako ay luluhod</p>
            <p>Hawakan ko iyo</p>
            <p>Hawakan mo ang akin</p>
            <p>Tapos sabay sabay tayong kakain</p>
        </article>

        <article>
            <h2><a href="">Interval 5</a></h2>
            <p>Bro ulitin natin yung gangster na rap pero girls ang topic</p>
            <h2><a href="">5th stanza</a></h2>
            <p>Drop the beat</p>
            <p>Brrr</p>
            <p>Gangsta</p>
            <p>Gangsta life</p>
            <p>I'm here brrr</p>
            <p>Brrr</p>
            <p>Hello mga girls master is here</p>
            <p>Shampoo, conditioner</p>
            <p>Ilagay nyo sa hair</p>
            <p>Ang ganda mo ang kinis ng mukha</p>
            <p>ano bang sikreto mo para tayo'y magkamukha</p>
            <p>Sukalayan kita, suklayan mo ako</p>
            <p>Pwede bang pahiram ng malaki mong dild*</p>

            <article>
                <h2><a href="">Interval 6</a></h2>
                <p>Bro teka lang bro bakit parang... Bat parang may mali</p>
                <p>Dapat kasi sasabayan mo yung trip ng babae para makuha mo sila</p>
                <p>Ganun ang gangster life, brrr</p>
                <p>Okay... so ganito nalang</p>
                <p>Dun tayo sa part na nakuha na natin yung babae, anong gagawin pag nakuha na yung babae </p>
                <h2><a href="">6th stanza</a></h2>
                <p>Drop the beat</p>
                <p>Brrr</p>
                <p>Gangsta</p>
                <p>Gangsta</p>
                <p>Gangsta</p>
                <p>Gangsta for life</p>
                <p>Here we go let's go</p>
                <p>Ang sexy naman ng iyong katawan</p>
                <p>Sumama ka sa akin lets play one on one</p>
                <p>Hello baby girl ang cute mong maglakad</p>
                <p>Ang suot mo pwede bang paki hubad</p>
                <p>nakikyutan ako, gusto ko sukatin</p>
                <p>Pag nagkasya ito</p>
                <p>Ito'y mapapasakin</p>
                <p>Ang cute ng make up mo pero parang hindi match</p>
                <p>Lumapit ka nga dito ako ang mag reretouch</p>
        </article>
    </body>
</html>